.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 10px;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	z-index: 1;
}

.card-img img {
	width: 450px;
	height: 250px;
	display: block;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #F00;
    padding: 6px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 15px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
         color:#fff;
         margin-left: 68px;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #4b5676;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
}
.btn-card{
	background-color: #F00;
    padding: .84rem 2.14rem;
    font-size: .81rem;
    border-radius: 1.125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
}
.btn-card:hover {
    background: #004A8C;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}