
.page {
	position: relative;
	max-width: 1425px;
	margin: 0 auto;
	padding: 0 20px 40px;
    background-color: #ecf6ff;
}

/**/
/* main styles */
/**/
.pcss3t {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 0;
	text-align: left;
}
.pcss3t > input {
	position: absolute;
	left: -9999px;
}
.pcss3t > label {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all 0.1s;
	-o-transition: all 0.1s;	
	-ms-transition: all 0.1s;	
	-moz-transition: all 0.1s;	
	-webkit-transition: all 0.1s;
}
.pcss3t > label i {
	display: block;
	float: left;
	margin: 16px 8px 0 -2px;
	padding: 0;
	border: 0;
	outline: none;
	font-family: FontAwesome;
	font-style: normal;
	font-size: 17px;
}
.pcss3t > input:checked + label {
	cursor: default;
}
.pcss3t > ul {
	list-style: none;
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 13px;
}
.pcss3t > ul > li {
	position: absolute;
	width: 100%;
	overflow: auto;
	padding: 30px 40px 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0;
	transition: all 0.5s;
	-o-transition: all 0.5s;	
	-ms-transition: all 0.5s;	
	-moz-transition: all 0.5s;	
	-webkit-transition: all 0.5s;
}
.pcss3t > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t > .tab-content-last:checked ~ ul .tab-content-last {
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 1;
	transform: scale(1,1);
	transform: rotate(0deg);
}


/*----------------------------------------------------------------------------*/
/*                                 EXTENSIONS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* auto height */
/**/
.pcss3t-height-auto > ul {
	height: auto !important;
    
}
.pcss3t-height-auto > ul > li {
	position: static;
	display: none;
	height: auto !important;
}
.pcss3t-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.pcss3t-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.pcss3t-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.pcss3t-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.pcss3t-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.pcss3t-height-auto > .tab-content-6:checked ~ ul .tab-content-6,
.pcss3t-height-auto > .tab-content-7:checked ~ ul .tab-content-7,
.pcss3t-height-auto > .tab-content-8:checked ~ ul .tab-content-8,
.pcss3t-height-auto > .tab-content-9:checked ~ ul .tab-content-9,
.pcss3t-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
	display: contents;
}


/**/
/* grid */
/**/
.pcss3t .grid-row {
	margin-top: 20px;
}
.pcss3t .grid-row:after {
	content: '';
	display: table;
	clear: both;
}
.pcss3t .grid-row:first-child {
	margin-top: 0;
}
.pcss3t .grid-col {
	display: block;
	float: left;
	margin-left: 2%;
}
.pcss3t .grid-col:first-child {
	margin-left: 0;
}
.pcss3t .grid-col .inner {
	padding: 10px 0;
	border-radius: 5px;
	background: #f2f2f2;
	text-align: center;
}
.pcss3t .grid-col-1 {
	width: 15%;
}
.pcss3t .grid-col-2 {
	width: 32%;
}
.pcss3t .grid-col-3 {
	width: 49%;
}
.pcss3t .grid-col-4 {
	width: 66%;
}
.pcss3t .grid-col-5 {
	width: 83%;
}
.pcss3t .grid-col-offset-1 {
	margin-left: 19%;
}
.pcss3t .grid-col-offset-1:first-child  {
	margin-left: 17%;
}
.pcss3t .grid-col-offset-2 {
	margin-left: 36%;	
}
.pcss3t .grid-col-offset-2:first-child {
	margin-left: 34%;
}
.pcss3t .grid-col-offset-3 {
	margin-left: 53%;
}
.pcss3t .grid-col-offset-3:first-child {
	margin-left: 51%;
}
.pcss3t .grid-col-offset-4 {
	margin-left: 70%;
}
.pcss3t .grid-col-offset-4:first-child {
	margin-left: 68%;
}
.pcss3t .grid-col-offset-5:first-child {
	margin-left: 85%;
}


/**/
/* typography */
/**/
.pcss3t .typography {
	color: #666;
}
.pcss3t .typography ul,
.pcss3t .typography ol {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}
.pcss3t .typography li {
	position: relative;
	margin-top: 5px;
	padding-left: 20px;
}
.pcss3t .typography li ul,
.pcss3t .typography li ol {
	margin-top: 5px;
}
.pcss3t .typography ul li:before {
	/*content: '';*/
	position: absolute;
	top: 8px;
	left: 0;
	width: 6px;
	height: 4px;
	background: #404040;
}
.pcss3t .typography ol {
	counter-reset: list1;
}
.pcss3t .typography ol > li:before {
	counter-increment:list1;
	content: counter(list1)'.';
	position: absolute;
	top: 0;
	left: 0;
}
.pcss3t .typography a {
	color: #ffffff;
}
.pcss3t .typography a:hover {
	text-decoration: none;
}
.pcss3t .typography .pic {
	padding: 4px;
	border: 1px dotted #ccc;
}
.pcss3t .typography .pic img {
	display: block;
}
.pcss3t .typography .pic-right {
	float: right;
	margin: 0 0 10px 20px;
}
.pcss3t .typography .link {
	text-decoration: underline;
	color: #1889e6;
	cursor: pointer;
}
.pcss3t .typography .link:hover {
	text-decoration: none;
}
.pcss3t .typography h1:first-child,
.pcss3t .typography h2:first-child,
.pcss3t .typography h3:first-child,
.pcss3t .typography h4:first-child,
.pcss3t .typography h5:first-child,
.pcss3t .typography h6:first-child,
.pcss3t .typography p:first-child {
	margin-top: 0;
}
.pcss3t .typography .text-center {
	text-align: center;
}
.pcss3t .typography .text-right {
	text-align: right;
}


/**/
/* steps */
/**/
.pcss3t-steps > label {
	cursor: default;
}


/**/
/* animation effects */
/**/
.pcss3t-effect-scale > ul > li {
	transform: scale(0.1,0.1);
}
.pcss3t-effect-rotate  > ul > li {
	transform: rotate(180deg);
}
.pcss3t-effect-slide-top > ul > li {
	top: -40px;
}
.pcss3t-effect-slide-right > ul > li {
	left: 80px;
}
.pcss3t-effect-slide-bottom > ul > li {
	top: 40px;
}
.pcss3t-effect-slide-left > ul > li {
	left: -80px;
}



/*----------------------------------------------------------------------------*/
/*                                   LAYOUTS                                  */
/*----------------------------------------------------------------------------*/

/**/
/* top right */
/**/
.pcss3t-layout-top-right {
	text-align: right;
}


/**/
/* top center */
/**/
.pcss3t-layout-top-center {
	text-align: center;
}


/**/
/* top combi */
/**/
.pcss3t > .right {
	float: right;
}

/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/

/**/
/* pad */
/**/
@media screen and (max-width: 980px) {
	
}


/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	.pcss3t > label {
		display: block;
	}
	.pcss3t > .right {
		float: none;
	}
}



/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
.pcss3t > label {	
	padding: 0 20px;
	background: #e5e5e5;
	font-size: 13px;
	line-height: 49px;
}
.pcss3t > label:hover {
	background: #f2f2f2;
}
.pcss3t > input:checked + label {
	background: #fff;
}
.pcss3t > ul {
	background: #fff;
	text-align: left;
}
.pcss3t-steps > label:hover {
	background: #e5e5e5;	
}


/**/
/* theme 1 */
/**/
.pcss3t-theme-1 > label {
	margin: 0 5px 5px 0;
	border-radius: 5px;
	background: #004a8c;
	box-shadow: 0 2px rgba(0,0,0,0.2);
	color: #fff;
	opacity: 0.8;
    font-size: 19px;
}
.pcss3t-theme-1 > label:hover {
	background: #ED0D01;
	opacity: 1;
}
.pcss3t-theme-1 > input:checked + label {
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #000;
	opacity: 1;
    font-size: 20px;
    font-weight: bold;
}
.pcss3t-theme-1 > ul {
	border-radius: 5px;
	box-shadow: 0 3px rgba(0,0,0,0.2);
}
.pcss3t-theme-1 > .tab-content-first:checked ~ ul {
	border-top-left-radius: 0;
}

.pcss3t-theme-1 > .tab-content-7:checked ~ ul {
	border-top-left-radius: 0;
}
@media screen and (max-width: 767px) {
	.pcss3t-theme-1 > label {
		margin-right: 0;
	}
	.pcss3t-theme-1 > input:checked + label {
		margin-bottom: 5px;
		padding-bottom: 0;
		border-radius: 5px;
	}
	.pcss3t-theme-1 > .tab-content-first:checked ~ ul {
		border-top-left-radius: 5px;
	}
	.pcss3t-theme-1 > .tab-content-7:checked ~ ul {
	border-top-left-radius: 5px;
}
}


/*----------------------------------------------------------------------------*/
/*                               CUSTOMIZATION                                */
/*----------------------------------------------------------------------------*/

/**/
/* height */
/**/
.pcss3t > ul,
.pcss3t > ul > li {
	height: 2605px;
}


/* -------------------------------------------------------------------- 
                             Careers Section
-----------------------------------------------------------------------*/


.page {
	position: relative;
	max-width: 1425px;
	margin: 0 auto;
	padding: 0 20px 40px;
    background-color: #ecf6ff;
}

/**/
/* main styles */
/**/
.pcss2t {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 0;
	text-align: left;
}
.pcss2t > input {
	position: absolute;
	left: -9999px;
}
.pcss2t > label {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all 0.1s;
	-o-transition: all 0.1s;	
	-ms-transition: all 0.1s;	
	-moz-transition: all 0.1s;	
	-webkit-transition: all 0.1s;
}
.pcss2t > label i {
	display: block;
	float: left;
	margin: 16px 8px 0 -2px;
	padding: 0;
	border: 0;
	outline: none;
	font-family: FontAwesome;
	font-style: normal;
	font-size: 17px;
}
.pcss2t > input:checked + label {
	cursor: default;
}
.pcss2t > ul {
	list-style: none;
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 13px;
}
.pcss2t > ul > li {
	position: absolute;
	width: 100%;
	overflow: auto;
	padding: 30px 40px 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	opacity: 0;
	transition: all 0.5s;
	-o-transition: all 0.5s;	
	-ms-transition: all 0.5s;	
	-moz-transition: all 0.5s;	
	-webkit-transition: all 0.5s;
}
.pcss2t > .tab-content-first:checked ~ ul .tab-content-first,
.pcss2t > .tab-content-2:checked ~ ul .tab-content-2,
.pcss2t > .tab-content-last:checked ~ ul .tab-content-last {
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 1;
	transform: scale(1,1);
	transform: rotate(0deg);
}


/*----------------------------------------------------------------------------*/
/*                                 EXTENSIONS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* auto height */
/**/
.pcss2t-height-auto > ul {
	height: auto !important;
    
}
.pcss2t-height-auto > ul > li {
	position: static;
	display: none;
	height: auto !important;
}
.pcss2t-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.pcss2t-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.pcss2t-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
	display: contents;
}


/**/
/* grid */
/**/
.pcss2t .grid-row {
	margin-top: 20px;
}
.pcss2t .grid-row:after {
	content: '';
	display: table;
	clear: both;
}
.pcss2t .grid-row:first-child {
	margin-top: 0;
}
.pcss2t .grid-col {
	display: block;
	float: left;
	margin-left: 2%;
}
.pcss2t .grid-col:first-child {
	margin-left: 0;
}
.pcss2t .grid-col .inner {
	padding: 10px 0;
	border-radius: 5px;
	background: #f2f2f2;
	text-align: center;
}
.pcss2t .grid-col-1 {
	width: 15%;
}
.pcss2t .grid-col-2 {
	width: 32%;
}
.pcss2t .grid-col-3 {
	width: 49%;
}
.pcss2t .grid-col-4 {
	width: 66%;
}
.pcss2t .grid-col-5 {
	width: 83%;
}
.pcss2t .grid-col-offset-1 {
	margin-left: 19%;
}
.pcss2t .grid-col-offset-1:first-child  {
	margin-left: 17%;
}
.pcss2t .grid-col-offset-2 {
	margin-left: 36%;	
}
.pcss2t .grid-col-offset-2:first-child {
	margin-left: 34%;
}
.pcss2t .grid-col-offset-3 {
	margin-left: 53%;
}
.pcss2t .grid-col-offset-3:first-child {
	margin-left: 51%;
}
.pcss2t .grid-col-offset-4 {
	margin-left: 70%;
}
.pcss2t .grid-col-offset-4:first-child {
	margin-left: 68%;
}
.pcss2t .grid-col-offset-5:first-child {
	margin-left: 85%;
}


/**/
/* typography */
/**/
.pcss2t .typography {
	color: #666;
}
.pcss2t .typography ul,
.pcss2t .typography ol {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}
.pcss2t .typography li {
	position: relative;
	margin-top: 5px;
	padding-left: 20px;
}
.pcss2t .typography li ul,
.pcss2t .typography li ol {
	margin-top: 5px;
}
.pcss2t .typography ul li:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 6px;
	height: 4px;
	background: #404040;
}
.pcss2t .typography ol {
	counter-reset: list1;
}
.pcss2t .typography ol > li:before {
	counter-increment:list1;
	content: counter(list1)'.';
	position: absolute;
	top: 0;
	left: 0;
}
.pcss2t .typography a {
	color: #ffffff;
}
.pcss2t .typography a:hover {
	text-decoration: none;
}
.pcss2t .typography .pic {
	padding: 4px;
	border: 1px dotted #ccc;
}
.pcss2t .typography .pic img {
	display: block;
}
.pcss2t .typography .pic-right {
	float: right;
	margin: 0 0 10px 20px;
}
.pcss2t .typography .link {
	text-decoration: underline;
	color: #1889e6;
	cursor: pointer;
}
.pcss2t .typography .link:hover {
	text-decoration: none;
}
.pcss2t .typography h1:first-child,
.pcss2t .typography h2:first-child,
.pcss2t .typography h3:first-child,
.pcss2t .typography h4:first-child,
.pcss2t .typography h5:first-child,
.pcss2t .typography h6:first-child,
.pcss2t .typography p:first-child {
	margin-top: 0;
}
.pcss2t .typography .text-center {
	text-align: center;
}
.pcss2t .typography .text-right {
	text-align: right;
}


/**/
/* steps */
/**/
.pcss2t-steps > label {
	cursor: default;
}


/**/
/* animation effects */
/**/
.pcss2t-effect-scale > ul > li {
	transform: scale(0.1,0.1);
}
.pcss2t-effect-rotate  > ul > li {
	transform: rotate(180deg);
}
.pcss2t-effect-slide-top > ul > li {
	top: -40px;
}
.pcss2t-effect-slide-right > ul > li {
	left: 80px;
}
.pcss2t-effect-slide-bottom > ul > li {
	top: 40px;
}
.pcss2t-effect-slide-left > ul > li {
	left: -80px;
}



/*----------------------------------------------------------------------------*/
/*                                   LAYOUTS                                  */
/*----------------------------------------------------------------------------*/

/**/
/* top right */
/**/
.pcss2t-layout-top-right {
	text-align: right;
}


/**/
/* top center */
/**/
.pcss2t-layout-top-center {
	text-align: center;
}


/**/
/* top combi */
/**/
.pcss2t > .right {
	float: right;
}

/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/

/**/
/* pad */
/**/
@media screen and (max-width: 980px) {
	
}


/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
	.pcss2t > label {
		display: block;
	}
	.pcss2t > .right {
		float: none;
	}
}



/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
.pcss2t > label {	
	padding: 0 20px;
	background: #e5e5e5;
	font-size: 13px;
	line-height: 49px;
}
.pcss2t > label:hover {
	background: #f2f2f2;
}
.pcss2t > input:checked + label {
	background: #fff;
}
.pcss2t > ul {
	background: #fff;
	text-align: left;
}
.pcss2t-steps > label:hover {
	background: #e5e5e5;	
}


/**/
/* theme 1 */
/**/
.pcss2t-theme-1 > label {
	margin: 0 5px 5px 0;
	border-radius: 5px;
	background:#004a8c;
	box-shadow: 0 2px rgba(0,0,0,0.2);
	color: #fff;
	opacity: 0.8;
    font-size: 19px;
}
.pcss2t-theme-1 > label:hover {
	background: #f40000;
	opacity: 1;
}
.pcss2t-theme-1 > input:checked + label {
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #000;
	opacity: 1;
    font-size: 20px;
    font-weight: bold;
}
.pcss2t-theme-1 > ul {
	border-radius: 5px;
	box-shadow: 0 3px rgba(0,0,0,0.2);
}
.pcss2t-theme-1 > .tab-content-first:checked ~ ul {
	border-top-left-radius: 0;
}

.pcss2t-theme-1 > .tab-content-7:checked ~ ul {
	border-top-left-radius: 0;
}
@media screen and (max-width: 767px) {
	.pcss2t-theme-1 > label {
		margin-right: 0;
	}
	.pcss2t-theme-1 > input:checked + label {
		margin-bottom: 5px;
		padding-bottom: 0;
		border-radius: 5px;
	}
	.pcss2t-theme-1 > .tab-content-first:checked ~ ul {
		border-top-left-radius: 5px;
	}
	.pcss2t-theme-1 > .tab-content-7:checked ~ ul {
	border-top-left-radius: 5px;
}
}


/*----------------------------------------------------------------------------*/
/*                               CUSTOMIZATION                                */
/*----------------------------------------------------------------------------*/

/**/
/* height */
/**/
.pcss2t > ul,
.pcss2t > ul > li {
	height: 1420px;
}


/* ------------------------------------ 
               Industries
--------------------------------------- */

.industries-img {
	vertical-align: middle;
	border-style: none;
}

.industries_imgs .industries-inside {
	text-align: center;
	flex: 1;
	padding: 20px 0;
}

.industries .industries-inside h4 {
	margin-top: 20px;
	font-size: 16px;
	color: #fff;
}

.industries-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.industries-icon1-color-1 {
	background-color: #ff3209;
}

.industries-icon2-color-2 {
	background-color: #004a8c;
}

.industries-icon3-color-3 {
	background-color: #520c0c;
}

.industries-icon4-color-4 {
	background-color: #0040ff;
}

.industries-icon5-color-5 {
	background-color: #180c52;
}


/*----------------------------------
    Work Flow Process
-----------------------------------*/

.process {
  width: 100%;
  padding: 0 15px;
  text-align: center;
}
.process__item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  position: relative;
  padding: 15px 35px;
  transition: 0.4s ease-in-out;
}
.process__item:hover {
  background: #f2f2f2;
}
.process__item:hover .process__number {
  transform: translateY(5px);
  color: #003c71;
}
.process__number {
  font-size: 60px;
  -webkit-text-stroke: 1px #003c71;
  display: block;
  color: transparent;
  font-weight: 700;
  transition: 0.4s ease-in-out;
}
.process__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: #003c71;
  text-transform: uppercase;
}
.process__subtitle {
  display: block;
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .process {
    display: inline-block;
  }
  .process__item {
    width: 49%;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .process {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .process__item {
    width: 100%;
  }
  .process__item:not(:last-of-type)::after {
    content: "";
    width: 1px;
    height: 75%;
    background: #8c8c8c;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0.2;
    transform: translateY(-50%);
  }
}

.cta-section {
            text-align: center;
            margin-top: 35px;
            background: #9cd0ff;
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        }

.sub-heading {
	display: inline-block;
	padding: 5px 20px 5px 40px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 20px;
}

.sub-heading::before {
	background-color: #004a8c;
	content: "";
	height: 18px;
	width: 18px;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 2px;
}


/* ----Contact list-----*/
.contact-item {
	display: flex;
	align-items: center;
	gap: 12px;
	background: #0800FF4D;
	padding: 18px;
	border-radius: 12px;
	backdrop-filter: blur(10px);
	transition: all 0.3s ease;
	width: 450px;
}

.contact-label {
	font-size: 1.00rem;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 4px;
}

.contact-value {
	color: white;
	font-weight: 600;
	text-decoration: none;
	font-size: 1.05rem;
}

.contact-icon {
	font-size: 1.5rem;
}

.fa-check-circle::before {
	content: "\f058";
}

.elementor-icon-list-icon i {
  color: var( --e-global-color-secondary );
  transition: color 0.3s;
}